<div class="col-lg-6">
    <h2>Posts</h2>
    <div ng-repeat="post in posts">
        <h4>{{post.title | uppercase}}</h4>
        <p>{{post.body}}
            <br>
            <a ng-href="/#/post/{{post.id}}" class="btn btn-xs btn-info">Leer más--</a>
            <a ng-click="removePost(post)" class="btn btn-xs btn-danger">Eliminar</a>
        </p>
    </div>

</div>

<div class="col-lg-6">
    <h2>Users</h2>
    <div ng-repeat="user in users">
        <h4>{{user.name}}</h4>
        <div>{{user.email}} - {{user.address.city}}</div>
    </div>

</div>
